@import './shared.css';

header {
  color: #473394;
  height: 100px;
}

header a {
  text-decoration: none;
  color: #473394;
}

main {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

main h2 {
  font-weight: bold;
  margin-top: 3rem;
}

main p {
  opacity: 80%;
  font-size: 18px;
}

#mix-dep { width: 262px; }
#install-cmd { width: 190px; }
#config-code { width: 330px; }
.std-code-block { width: 700px; }

@media only screen and (max-width: 1000px) {
  main {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (max-width: 500px) {
  main {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  #mix-dep { width: 210px; }
  #install-cmd { width: 150px; }
  #config-code { width: 265px; }
  .std-code-block { width: 300px; }

}