@import './shared.css';

main {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

main p {
  opacity: 80%;
  font-size: 18px;
}

@media only screen and (max-width: 1000px) {
  main {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (max-width: 500px) {
  main {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .std-code-block { width: 300px; }
}