@import "./shared.css";

main {
  display: flex;
  justify-content: center;
}

section {
  width: 600px;
}

.links {
  display: flex;
  justify-content: space-between;
  margin: 2rem 2rem 0 2rem;
}

.links a {
  border: 1.5px solid #473394;
  border-radius: 25px;

  /* width: 175px;
  height: 35px; */

  text-decoration: none;
  color: #473394;
  padding: 5px 20px;
}

.links a:hover {
  text-decoration: underline;
}